* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.Card {
  width: fit-content;
  border: 1px solid black;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Card:hover {
  cursor: pointer;
}

.CardTitle {
  position: absolute;
  top: 0;
}

.CardContent {
  padding: 3px;
}
